<div class="boxscore m-2">
  <table class="table-auto w-fit text-gray-100 text-center border border-gray-200">
    <thead>
      <tr class="bg-gray-900">
        <th class="text-left p-2 border border-gray-200">{{t (concat "status." @game.statusCode)}}</th>
        {{#each this.innings as |inning|}}
          <th class="p-2">{{inning}}</th>
        {{/each}}
        <th class="p-2 border-l border-gray-200">R</th>
        <th class="p-2">H</th>
        <th class="p-2">E</th>
      </tr>
    </thead>
    <tbody>
      <tr class="{{@game.awayTeam.bgClass}} {{@game.awayTeam.textClass}} border border-b-0 border-gray-200">
        <td class="text-left px-2 py-1 border border-b-0 border-gray-200">
          {{@game.awayTeam.name}}
          <span class="block text-xs font-bold">
            {{@game.awayTeamRecord}}
          </span>
        </td>
        {{#each @game.awayTeam.innings as |inning|}}
          <td class="px-2 py-1">{{with-default inning.runs "x"}}</td>
        {{/each}}
        <td class="px-2 py-1 border-l border-gray-200">{{@game.awayTeam.runs}}</td>
        <td class="px-2 py-1">{{@game.awayTeam.hits}}</td>
        <td class="px-2 py-1">{{@game.awayTeam.errors}}</td>
      </tr>
      <tr class="{{@game.homeTeam.bgClass}} {{@game.homeTeam.textClass}} border border-t-0 border-gray-200">
        <td class="text-left px-2 py-1 border border-t-0 border-gray-200">
          {{@game.homeTeam.name}}
          <span class="block text-xs font-bold">
            {{@game.homeTeamRecord}}
          </span>
        </td>
        {{#each @game.homeTeam.innings as |inning|}}
          <td class="px-2 py-1">{{with-default inning.runs "x"}}</td>
        {{/each}}
        <td class="px-2 py-1 border-l border-gray-200">{{@game.homeTeam.runs}}</td>
        <td class="px-2 py-1">{{@game.homeTeam.hits}}</td>
        <td class="px-2 py-1">{{@game.homeTeam.errors}}</td>
      </tr>
    </tbody>
  </table>
  <div class="grid grid-cols-3 gap-2 p-2 text-xs font-bold border border-t-0 border-gray-200">
    {{#if @game.isPregame}}
      <span>{{t "boxscore.starts" time=(date-format date=@game.gameTime locale="en-US" format="h:mm a")}}</span>
    {{/if}}
    {{#if @game.isOver}}
      <span>{{if @game.winningPitcher "Win: "}} {{@game.winningPitcher}}</span>
    {{/if}}
    {{#if @game.isOver}}
      <span>{{if @game.losingPitcher "Loss: "}} {{@game.losingPitcher}}</span>
    {{/if}}
    {{#if @game.isOver}}
      <span>{{if @game.save "Save: "}} {{@game.save}}</span>
    {{/if}}
    {{#unless @game.isPregame}}
      <span class="col-span-3 text-center">Duration: {{@game.gameDuration}}</span>
    {{/unless}}
  </div>
</div>