<span class="date-picker">
  <BasicDropdown as |dd|>
    <dd.Trigger>
      <span
        class="text-stone-100 rounded-md border px-3 py-2 border-stone-700"
      >
        {{this.dateDisplay}}
      </span>
    </dd.Trigger>
    <dd.Content>
      <PowerCalendar
        class="date-picker-calendar"
        @selected={{this.date}}
        @center={{this.center}}
        @maxDate={{this.maxDate}}
        @onSelect={{fn this.updateDate dd.actions.close}}
        @onCenterChange={{this.updateCenter}}
        as |calendar|
      >
        <calendar.Nav @maxDate={{this.maxDate}} />
        <calendar.Days @maxDate={{this.maxDate}} />
      </PowerCalendar>
    </dd.Content>
  </BasicDropdown>
</span>