<svg
  class='diff-chart'
  ...attributes
  {{did-insert this.onInsert}}
  {{did-update this.redrawChartElements this.yValues this.xValues}}
  {{did-resize this.updateDimensions}}
  {{on 'pointerenter' this.onPointerMoved}}
  {{on 'pointermove' this.onPointerMoved}}
  {{on 'pointerleave' this.onPointerLeave}}
>
  <g
    aria-hidden='true'
    class='y-axis {{if @enableGridlines "hidden"}}'
    transform='translate({{this.yAxisWidth}}, {{this.margin.top}})'
  >
  </g>
  <g
    class='gridlines {{unless @enableGridlines "hidden"}}'
    transform='translate({{this.yAxisWidth}}, {{this.margin.top}})'
  ></g>
  <g
    aria-hidden='true'
    class='x-axis'
    transform='translate(0, {{this.xAxisPosition}})'
  >
  </g>
  <g class='canvas' transform='translate(0, {{this.margin.top}})'>
    {{#each this.filteredData as |team|}}
      <DiffChart::Line
        @team={{team}}
        @tooltipX={{this.tooltipX}}
        @showTooltip={{this.showTooltips}}
        @xScale={{this.xScale}}
        @yScale={{this.yScale}}
      />
    {{/each}}
  </g>
  {{#if (and this.showTooltips this.tooltipData)}}
    <g transform='translate({{sub this.tooltipX 20}}, {{this.margin.top}})'>
      <foreignObject
        width='1'
        height='1'
        class='overflow-visible pointer-events-none'
      >
        <div class='flex flex-col rounded bg-stone-800 shadow w-max'>
          <div class='p-2'>{{get this.tooltipData '0.count'}} games played</div>
          {{#each this.tooltipData as |tooltip|}}
            <div
              class='flex flex-col p-2 items-center
                {{tooltip.team.mainBackground}}
                {{tooltip.team.mainText}}'
            >
              <span>{{tooltip.team.short}}</span>
              <span>{{format-number
                  tooltip.diff
                  signDisplay='exceptZero'
                }}</span>
            </div>
          {{/each}}
        </div>
      </foreignObject>
    </g>
  {{/if}}
</svg>
<div class='flex items-center justify-center gap-4'>
  {{#each @data as |team|}}
    <div
      class='flex items-center justify-center gap-1 cursor-pointer'
      role='button'
      {{on 'click' (fn this.toggleTeam team)}}
    >
      <span
        class='h-[0.25rem] w-[1.5rem]
          {{if team.selected team.team.mainBackground "bg-stone-700"}}'
      ></span>
      <span>{{team.team.short}}</span>
    </div>
  {{/each}}
</div>