<div
  class="flex flex-row flex-wrap items-center md:items-start justify-center"
  ...attributes
>
  <div class="m-2 flex flex-col items-center">
    <Table::Batters
      class="{{@game.awayTeam.bgClass}} {{@game.awayTeam.textClass}}"
      @batters={{@game.awayTeam.batters}}
    >
      <:header>
        <h4 class="border-t border-r border-l border-white border-opacity-60 text-center p-2 text-white font-bold text-lg">
          {{t "playerTable.batters_title" team=@game.awayTeam.name}}
        </h4>
      </:header>
    </Table::Batters>
    <Table::Pitchers
      class="{{@game.awayTeam.bgClass}} {{@game.awayTeam.textClass}}"
      @pitchers={{@game.awayTeam.pitchers}}
    >
      <:header>
        <h4 class="border-t border-r border-l border-white border-opacity-60 text-center p-2 text-white font-bold text-lg">
          {{t "playerTable.pitchers_title" team=@game.awayTeam.name}}
        </h4>
      </:header>
    </Table::Pitchers>
  </div>
  <div class="m-2 flex flex-col items-center">
    <Table::Batters
      class="{{@game.homeTeam.bgClass}} {{@game.homeTeam.textClass}}"
      @batters={{@game.homeTeam.batters}}
    >
      <:header>
        <h4 class="border-t border-r border-l border-white border-opacity-60 text-center p-2 text-white font-bold text-lg">
          {{t "playerTable.batters_title" team=@game.homeTeam.name}}
        </h4>
      </:header>
    </Table::Batters>
    <Table::Pitchers
      class="{{@game.homeTeam.bgClass}} {{@game.homeTeam.textClass}}"
      @pitchers={{@game.homeTeam.pitchers}}
    >
      <:header>
        <h4 class="border-t border-r border-l border-white border-opacity-60 text-center p-2 text-white font-bold text-lg">
          {{t "playerTable.pitchers_title" team=@game.homeTeam.name}}
        </h4>
      </:header>
    </Table::Pitchers>
  </div>
</div>