<div class='bg-stone-800 rounded-md my-4 w-full'>
  <div
    class='text-center text-2xl font-bold mb-2 p-4 bg-stone-900 bg-opacity-50 rounded-t-md'
  >
    {{yield}}
  </div>
  <div
    class='p-4 flex flex-row items-center justify-around flex-wrap gap-2 rounded-b-md'
  >
    <Standings::Table
      @standings={{@league.west}}
      @onHeaderClick={{this.updateSelected}}
    />
    <Standings::Table
      @standings={{@league.central}}
      @onHeaderClick={{this.updateSelected}}
    />
    <Standings::Table
      @standings={{@league.east}}
      @onHeaderClick={{this.updateSelected}}
    />
  </div>
  {{#if this.chartData}}
    <div class='w-full bg-stone-700 pt-6 p-4 rounded-b-md'>
      <DiffChart
        class='h-[500px] w-full'
        @data={{this.chartData}}
        @enableGridlines={{true}}
      />
    </div>
  {{/if}}
</div>