<div class="mt-4">
  <DatePicker @date={{@date}} @onUpdate={{@onUpdate}} />
</div>
<div
  class="rounded"
  ...attributes
  {{did-insert (perform this.getData)}}
  {{did-update (perform this.getData) @date}}
>
  <Loading class="mt-4" @loading={{this.getData.isRunning}}>
    {{#each this.inProgress as |g|}}
      <Scorebug @game={{g}} {{game-refresher g}} />
    {{/each}}
    {{#each this.notInProgress as |g|}}
      <Scorebug @game={{g}} {{game-refresher g}} />
    {{/each}}
    {{#if (and (eq this.inProgress.length 0) (eq this.notInProgress.length 0))}}
      {{t "scorebug.list.no_games"}}
    {{/if}}
  </Loading>
</div>
