{{page-title
  this.model.awayTeam.teamName
  " at "
  this.model.homeTeam.teamName
  " - "
  (format-date this.model.gameTime)
}}

<div class="overflow-auto w-full h-home" {{game-refresher this.model}}>
  {{#if this.model.inProgress}}
    <div class="flex overflow-auto md:justify-center">
      <Scorebug class="mx-auto" @game={{this.model}} @disableClick={{true}} />
    </div>
  {{/if}}
  <div class="flex overflow-auto my-4">
    <Boxscore class="mx-auto" @game={{this.model}} />
  </div>
  <Players class="w-full mb-4" @game={{this.model}} />
</div>