{{page-title "Standings"}}

<div class="standings h-home w-full overflow-auto">
  <div class="flex items-center justify-center">
    <DatePicker
      @date={{this.selectedDate}}
      @maxDate={{this.maxDate}}
      @onUpdate={{fn (mut this.selectedDate)}}
    />
  </div>
  <Standings
    @league={{this.model.standings.american}}
    @diffData={{this.model.winDifferentials}}
  >
    {{t "standings.american.title"}}
  </Standings>
  <Standings
    @league={{this.model.standings.national}}
    @diffData={{this.model.winDifferentials}}
  >
    {{t "standings.national.title"}}
  </Standings>
</div>
