<div class="standings h-home w-screen p-4 overflow-auto">
  <Standings::Card
    @league={{this.model.standings.american}}
    @diffData={{this.model.winDifferentials}}
  >
    {{t "standings.american.title"}}
  </Standings::Card>
  <Standings::Card
    @league={{this.model.standings.national}}
    @diffData={{this.model.winDifferentials}}
  >
    {{t "standings.national.title"}}
  </Standings::Card>
</div>
{{!-- TODO: add date picker to standings page --}}