{{page-title "Standings"}}

<div class="standings h-home w-full overflow-auto">
  <div class="flex items-center justify-center">
    <DatePicker
      @date={{this.selectedDate}}
      @maxDate={{this.maxDate}}
      @onUpdate={{fn (mut this.selectedDate)}}
    />
  </div>
  {{#if this.isRegularSeason}}
    <Standings
      @league={{this.model.standings.american}}
      @diffData={{this.model.winDifferentials}}
    >
      {{t "standings.american.title"}}
    </Standings>
    <Standings
      @league={{this.model.standings.national}}
      @diffData={{this.model.winDifferentials}}
    >
      {{t "standings.national.title"}}
    </Standings>
  {{else if this.isPostSeason}}
    <div class="text-center p-4">post season coming soon</div>
  {{/if}}

  {{!-- TODO write post season display component --}}
</div>